@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --bg: #DFD2A9;
    --font: #222A2D;
    --details: #53555A;
}

body {
    margin: 0;
    width: 99vw;
    height: 99vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Lato', sans-serif;
}

#lapNumber {
    color: var(--font);
    font-size: 25vh;
}

.totalLaps {
    color: var(--details);
    font-size: 5vh;
    display: flex;
    position: absolute;
    top: 80%;
    left: calc(50vw - 75px);
}

#totalNumber {
    margin-left: 15px;
}
