header {
  height: 4.5em;
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: var(--secondary);
  color: var(--background);
}

#navbar {
  height: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

#navbar-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

navbar a:hover {
  transform: scale(1.2)
}